* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
    outline: none;
    font-family: "Nunito", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    overflow: hidden;
}

:root {
    --primary-color: #262626;
    --text-sidebar-color: rgb(128, 128, 128);
    --paragraph-color: #444;
    --lines-color: rgb(192, 192, 192);
    --input-text-color: #777;
    --heading: rgb(245, 245, 245);
    --hover-color: #2ab7e7;
}

.general-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
        url("images/bg.png") fixed no-repeat center;
    background-size: center;
    position: relative;
}

canvas {
    z-index: 100;
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 27rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.6);
    box-shadow: 0.3rem 0.3rem 0.3rem var(--input-text-color);
    padding: 3rem;
    transition: left 0.5s ease-in-out;
}

.bis {
    display: none;
}

.change .sidebar {
    left: -27rem;
}

div.top {
    width: 100%;
    height: 8rem;
    position: relative;
    margin-bottom: 1rem;
}


img.admin {
    width: 5rem;
    height: 5rem;
    display: block;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.3rem #fff;
    position: absolute;
    top: 1.2rem;
}

.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.change .hamburger-menu {
    right: -10rem;
}

.line {
    width: 100%;
    height: 0.3rem;
    background-color: rgb(192, 192, 192);
    box-shadow: inset 0.1rem 0.1rem 0.1rem #fff;
    border-radius: 5px;
}

.line-1 {
transform: rotate(45deg) translate(0.7rem, 1.45rem);
}

.line-2 {
opacity: 0;
}

.line-3 {
transform: rotate(-45deg) translate(0.2rem, -0.8rem);
}

.change .line-1 {
    transform: rotate(0deg) translate(0, 0);
}

.change .line-2 {
opacity: 1;
}

.change .line-3 {
transform: rotate(0deg) translate(0, 0);
}

form {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

input {
    width: 100%;
    border-radius: 0.5rem;
    height: 3rem;
    text-align: center;
    font-size: 1.6rem;
    border: none;
    background: rgba(128, 128, 128, 0.6);
    letter-spacing: 0.15rem;
    box-shadow: 0.2rem 0.2rem 0.5rem #fff inset, 0.2rem 0.2rem 0.5rem #fff inset;
    color: #fff;
    margin-bottom: 1.5rem;
    transition: all 0.5s;
}

input::placeholder {
    color: var(--input-text-color);
    text-shadow: 0.2rem 0.2rem 0.2rem #fff;
    cursor: pointer;
    transition: 0.5s;
}

input:hover::placeholder {
    color: transparent;
    text-shadow: 0.2rem 0.2rem 0.2rem transparent;
}

i.fa-search {
    display: block;
    font-size: 1.8rem;
    background: transparent;
    position: absolute;
    top: 5.25rem;
    right: 0.2rem;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

i.fa-search:hover {
    color: var(--hover-color);
}

/*nav links*/
ul.links {
    width: 100%;
    height: 45%;
}

li.list a.nav-link {
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
}

.nav-link:hover i:first-child {
    color: var(--hover-color);
    text-shadow: 0.1rem 0.1rem 0.1rem #fff;
}

.nav-link i:first-child {
    transition: color 0.5s ease-in-out;
}

a.nav-link i:first-child {
    width: 2rem;
    height: 2rem;
    font-size: 1.8rem;
}

li.list span {
    font-size: 2rem;
    color: #fff;
    padding-left: 1.5rem;
    flex-grow: 1;
    text-shadow: 0rem 0.1rem 0.1rem #fff;
}

a.nav-link:hover i:last-child {
    transform: rotate(90deg);
}

a.nav-link i:last-child {
    font-size: 2.2rem;
    color: #fff;
    transition: rotate 0.8s ease-in-out;
}

li.list {
    margin-bottom: 2.5rem;
}

ul.products,
ul.recipes,
ul.news {
    width: 100%;
    opacity: none;
    visibility: hidden;
    max-height: 0;
    transition: all 0.8s ease-in-out;
    padding-top: 0.5rem;
}

li.product,
li.recipe,
li.new {
    padding: 0.7rem 2rem;
}

li.products:hover ul.products {
    opacity: 1;
    visibility: visible;
    max-height: 20rem;
    background: rgba(193, 154, 107, 0.5);
    border-radius: 3rem;
    box-shadow: 0.3rem 0.3rem 0.3rem #777;
}

a.nav-link:last-child {
    transition: rotate 1s;
}

a.navlink:last-child:hover {
    transform: rotate(90deg);
}

li.recipes:hover ul.recipes {
    opacity: 1;
    visibility: visible;
    max-height: 20rem;
    background-color: rgba(193, 154, 107, 0.5);
    border-radius: 3rem;
    box-shadow: 0.3rem 0.3rem 0.3rem #777;
}

li.news:hover ul.news {
    opacity: 1;
    visibility: visible;
    max-height: 28rem;
    background-color: rgba(193, 154, 107, 0.5);
    border-radius: 3rem;
    box-shadow: 0.3rem 0.3rem 0.3rem #777;
}

a.item {
    color: #fff;
    font-size: 1.8rem;
    padding-bottom: 2rem;
}

/*contact-icons*/
div.contact-icons {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 37%;
}

div.contact-icons i {
    display: block;
    width: 4rem;
    height: 4rem;
    background: #777;
    box-shadow: 0.1rem 0.1rem 0.1rem #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2rem;
    color: #fff;
    transition: background 0.5s;
}

div.contact-icons i:hover {
    background-color: var(--hover-color);
}

/*dashboard area*/

div.dashboard, div.bis {
    width: 50%;
    height: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.bis {
    display: none;
}

div.dashboard h1, div.bis h1 {
    width: 100%;
    font-size: 5rem;
    color: var(--heading);
    font-weight: 600;
    letter-spacing: 0.15rem;
    text-shadow: 0.2rem 0.2rem 0.2rem #777, 0.2rem 0.2rem 0.2rem #fff;
    color: #fff;
    opacity: 0.8;
    text-align: left;
    padding-bottom: 1rem;
    transform: scaleX(0);
    animation: widthMove 5s forwards;
}

@keyframes widthMove {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scale(1);
    }
}

div.dashboard p, div.bis p {
    color: var(--heading);
    font-size: 2.2rem;
    text-align: left;
    padding-top: 1.5rem;
    letter-spacing: 0.2remm;
    font-weight: 500;
    text-shadow: 0.2rem 0.2rem 0.2rem #777, 0.2rem 0.2rem 0.2rem #fff;
    width: 70%;
    line-height: 3.4rem;
    padding-top: 1.5rem;
    opacity: 0;
    animation: show 3s linear forwards;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

div.dashboard button, div.bis button {
    width: 18rem;
    height: 6rem;
    border: none;
    outline: none;
    display: block;
    font-size: 2.5rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 3rem;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.6);
    text-shadow: 0.2rem 0.2rem 0.2rem #fff;
    letter-spacing: 0.15rem;
    box-shadow: 0.2rem 0.2rem 0.5rem #fff inset, 0.2rem 0.2rem 0.5rem #fff inset;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
}

div.dashboard button a, div.bis button a {
    display: block;
    width: 100%;
    transition: all 1s ease-in-out;
    position: relative;
    letter-spacing: .3rem;
    text-align: center;
}

.ripple {
    width: 0;
    height: 0;
    position: absolute;
    border-radius: 1rem;
    transform: translate(-50%, -50%);
    background: rgba(245, 245, 245, 0.3);
    animation: move 2s forwards;
}

@keyframes move {
    form {
        width: 0;
        height: 0;
    }

    to {
        width: 200%;
        height: 200%;
    }
}


/*responsive website*/
@media only screen and (max-width: 1257px) {
    div.dashboard {
        top: 40%;
    }

    div.dashboard p {
        width: 80%;
    }
}

@media only screen and (max-width: 1124px) {
    div.dashboard {
        left: 55%
    }

    div.dashboard p {
        width: 90%;
    }
}

@media only screen and (max-width: 844px) {
    div.dashboard {
        width: 70%;
        left: 75%;
    }

    div.dashboard p {
        width: 65%;
        font-size: 2.2rem;
    }

    div.dashboard h1 {
        font-size: 4.5rem;
    }
}

@media only screen and (max-width: 772px) {
    div.dashboard {
        left: 78%;
    }
        div.dashboard h1{
        font-size: 3.5rem;
    }

    div.dashboard p {
        font-size: 1.8rem;
    }
    div.dashboard button {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 620px) {
    div.general-container {
        height: 100vh;
        width: 100%;
        position: relative;
        
    }
    .sidebar {
        width: 70%;
        height: 70%;
        position: absolute;
        left: -100%;
        border-radius: 10px;
        transition: 0.8s ease-in-out;
    }

    .change .sidebar {
        width: 70%;
        height: 70%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    div.dashboard {
        display: none;
    }

        .hamburger-menu {
            top: 3rem;
            position: absolute;
            right: -80%;
        }
    
        .change .hamburger-menu {
            position: absolute;
            top: 3rem;
            right: 0% !important;
            transform-origin: right;
        }
    
        .line {
            transition: all 0.5s;
        }
    
        .line-1,
        .line-2,
        .line-3 {
            transform: rotate(0deg);
            opacity: 1;
        }
    
        .change .line-1 {
            transform: rotate(45deg) translate(0.7rem, 1.2rem);
        }
    
        .change .line-2 {
            opacity: 0;
        }
    
        .change .line-3 {
            transform: rotate(-45deg) translate(0.2rem, -0.8rem);
        }

        div.bis {
        display: block;
        width: 80% !important;
        height: 50%;
        position: absolute;
        left: 50% !important;
        top: 25%;
        transform: translateX(-50%);
        text-align: center;
    }

    div.bis h1 {
        text-align: center;
        font-size: 4rem;
    }

    div.bis p {
        width: 100%;
        text-align: center;
        padding-top: 4rem;
    }

    div.bis button {
        display: block;
        margin-top: 3rem;
        position: absolute;
        left: 50%;
        padding: 0.5rem 1rem;
        transform: translateX(-50%);
    }

    .change .bis {
        animation: down 1s linear forwards;
        width: 65%;
        height: max-content;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        margin-top: 2rem;
    }

    @keyframes down {
        from {
            top: 30%;
        }

        to {
            top: 85%;
        }
    }
    .change .bis h1 {
        font-size: 2.8rem;
        text-align: center;
    }
    .change .bis p {
        display: none;
    }

    .change .bis button {
        display: none;
    }


        div.bis {
            display: block;
            width: 100%;
            height: 50%;
            position: absolute;
            left: 55%;
            top: 25%;
            transform: translateX(-50%);
            text-align: center;
        }
    
        div.bis h1 {
            text-align: center;
            font-size: 4rem;
        }
    
        div.bis p {
            width: 100%;
            text-align: center;
            padding-top: 4rem;
        }
    
        div.bis button {
            display: block;
            margin-top: 3rem;
            position: absolute;
            left: 50%;
            padding: 0.5rem 1rem;
            transform: translateX(-50%);
        }
    
        .change .bis {
            animation: down 1s linear forwards;
            width: 65%;
            height: max-content;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            margin-top: 2rem;
        }
    
        @keyframes down {
            from {
                top: 30%;
            }
    
            to {
                top: 85%;
            }
        }
    
        .change .bis h1 {
            font-size: 2.8rem;
            text-align: center;
        }
    
        .change .bis p {
            display: none;
        }
    
        .change .bis button {
            display: none;
        }
}

@media only screen and (max-width: 544px) {
    .hamburger-menu {
        right: -89%;
    }

    div.bis h1 {
        font-size: 3.5rem;
        text-align: center;
    }

    div.bis p {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        padding-top: 4rem;
        line-height: 4rem;
    }

    div.bis button {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 433px) {

    .hamburger-menu {
        right: -90% !important;
    }

    .bis h1 {
        font-size: 2.8rem !important;
    }

    .bis p {
        font-size: 1.8rem !important;
    }

    .bis button {
        width: 15rem;
        height: 4rem;
    }

}

@media only screen and (max-width: 384px) {
.hamburger-menu {
    right: -100% !important;
}
.bis h1 {
    font-size: 2.5rem !important;
}
.change .bis h1 {
    font-size: 2.2rem !important;
}
}

@media only screen and (max-width: 304px) {
    .hamburger-menu {
            right: -120% !important;
        }
    .bis p {
        line-height: 3rem !important;
    }
        .change .bis h1 {
            font-size: 1.8rem !important;
        }
}

